/.ipynb_checkpoints
/1301184505_GALUH RAMADITYA_SALJU.docx
/1301184505_GALUH RAMADITYA_SALJU.pdf
/1301184505_GALUH RAMADITYA_SALJU.zip
/Readme.txt
/a.zip
/salju__hirearchical_noclass.ipynb
/salju__kayla.ipynb
/salju__kiki.ipynb
/salju__kiki_2.ipynb
/salju__padil.ipynb
/salju__putri.ipynb
/visualissasi tingkat tinggi.ipynb